Test-Command: M2 --silent --check 1 -q --stop -E "exit 0" &&
         M2 --check 3
Depends: 4ti2,
         cohomcalg,
         coinor-csdp,
         gfan,
         nauty,
         normaliz,
         polymake,
         topcom,
         @
Restrictions: allow-stderr
