Source: macaulay2
Section: math
Priority: optional
Maintainer: Doug Torrance <dtorrance@monmouthcollege.edu>
Build-Depends: debhelper (>= 9), dh-autoreconf, fortran-compiler,
 libatomic-ops-dev, libgc-dev, libgdbm-dev, libmpfr-dev, libntl-dev,
 libpari-dev, libreadline-dev
Standards-Version: 3.9.6
Homepage: http://www.math.uiuc.edu/Macaulay2/
Vcs-Git: https://github.com/d-torrance/M2
Vcs-Browser: https://github.com/d-torrance/M2

Package: macaulay2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
