#!/usr/bin/make -f

export DEB_CPPFLAGS_MAINT_APPEND=-I/usr/include/singular \
	-I/usr/include/$(DEB_BUILD_MULTIARCH)/singular \
	-DMATHIC_VERSION_STRING=\"$(shell pkg-config mathic --modversion)\"

UNBUILT_PROGRAMS = 4ti2 gfan normaliz nauty cddplus lrslib

%:
	dh $@ --sourcedirectory=M2 --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- --with-unbuilt-programs="$(UNBUILT_PROGRAMS)"

override_dh_auto_build:
	mkdir -p M2/usr-host/lib
	dh_auto_build

get-orig-source:
	uscan --verbose --force-download --rename
