#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk

export DEB_BUILD_MAINT_OPTIONS=hardening=+all
export VERBOSE=1

# needed for reproducible-config-args.patch
export CURDIR

include /usr/share/dpkg/pkg-info.mk
VERSION := $(shell echo $(DEB_VERSION_UPSTREAM) | sed 's|\(^[0-9\.]*\).*|\1|')

%:
	dh $@ --sourcedirectory=M2 --with elpa,linktree

# use exec_prefix instead of prefix in libdir, as that's what's needed
# to properly substitute paths in Layout#2,
override_dh_auto_configure:
	dh_auto_configure -- \
		--libdir=\$${exec_prefix}/lib/$(DEB_HOST_MULTIARCH)

# prevent html-check-links from failing to find KaTeX files before
# they get added by dh_linktree
KATEX_DIR := $(CURDIR)/M2/Macaulay2/packages/Style/katex
KATEX_FILES := $(patsubst %, $(KATEX_DIR)/%, \
	katex.min.css katex.min.js contrib/auto-render.min.js \
	contrib/copy-tex.min.css contrib/copy-tex.min.js)

execute_before_dh_auto_build: $(KATEX_FILES)

$(KATEX_DIR)/%:
	touch $@

# since a "test" target exists, dh_auto_test defaults to using that, but
# it just prints the values of some variables.  we want the "check" target
# instead to run the test suite
# related: https://bugs.debian.org/924052
override_dh_auto_test-arch:
	cd M2 && make check

override_dh_auto_test-indep:
	cd M2 && make validate-html

# https://github.com/Macaulay2/M2/issues/1144
execute_before_dh_link-indep:
	jdupes -rl debian/macaulay2-common/usr/share/doc/Macaulay2

# example output files must be plain text
override_dh_compress:
	dh_compress -Xexample-output

execute_before_dh_elpa: debian/macaulay2-pkg.el

debian/macaulay2-pkg.el: debian/macaulay2-pkg.el.in
	sed -e 's|@VERSION[@]|$(VERSION)|g' $< > $@

# we use uscan to check for the most recent version, but to create an
# orig tarball, we also need the contents of the M2-emacs submodule,
# so use this target instead of uscan directly
get-orig-source:
	debian/scripts/m2-get-orig-source.sh

# update debian/patches/git-description.patch with the proper commit
# in the upstream git repository.  we make an assumption that the upstream
# branch we're working from has been merged into development so the common
# ancestor is exactly the commit we want.  double-check to make sure that
# this does the correct thing.
update-git-description-patch:
	git fetch https://github.com/Macaulay2/M2 development;                 \
	GIT_COMMIT=$$(git merge-base HEAD FETCH_HEAD | cut -c 1-9);            \
	NEW_COMMITS=$$(git rev-list $$(git rev-list -1 $$GIT_COMMIT            \
		M2/VERSION)..$$GIT_COMMIT --count);                            \
	GIT_DESCRIPTION=version-$$(cat M2/VERSION)-$$NEW_COMMITS-$$GIT_COMMIT; \
	quilt push debian/patches/git-description.patch ;                      \
	sed -i "s/^then GIT_DESCRIPTION=.*/then GIT_DESCRIPTION=$$GIT_DESCRIPTION/"      \
		M2/configure.ac;                                               \
	quilt refresh;                                                         \
	quilt pop
