#!/usr/bin/make -f

export DEB_CPPFLAGS_MAINT_APPEND=-I/usr/src/gtest
export DEB_BUILD_MAINT_OPTIONS=hardening=+all
export VERBOSE=1
UNBUILT_PROGRAMS = 4ti2 gfan normaliz nauty cddplus lrslib topcom cohomcalg \
	csdp

%:
	dh $@ --sourcedirectory=M2

override_dh_auto_configure:
# --with-unbuilt-programs: don't try to build 3rd party applications
# --disable-shared: prevent make from trying to cd into a nonexistent directory
	dh_auto_configure -- \
		--with-unbuilt-programs="$(UNBUILT_PROGRAMS)" \
		--disable-shared

# since a "test" target exists, dh_auto_test defaults to using that, but
# it just prints the values of some variables.  we want the "check" target
# instead to run the test suite
# related: https://bugs.debian.org/924052
override_dh_auto_test:
	cd M2 && make -j4 check VERBOSE=1

override_dh_auto_install:
# replace build paths with installation paths in documentation
	find M2/usr-dist/common/share/doc/Macaulay2 \
		\( -name "*.html" -o -name "*.out" \) -exec sed -i \
		-e "s|$$CURDIR/M2/Macaulay2/m2|/usr/share/Macaulay2/Core|g" \
		-e "s|$$CURDIR/M2/Macaulay2/packages|/usr/share/Macaulay2|g" \
		-e "s|$$CURDIR/M2/usr-dist|/usr|g" \
		-e "s|common/share|share|g" \
		-e "s|/nonexistent|/home/username|g" {} +
# package-contains-vcs-control-file
	rm -f M2/usr-dist/common/share/Macaulay2/Macaulay2Doc/test/.gitignore
	dh_auto_install

# https://github.com/Macaulay2/M2/issues/1144
override_dh_link:
	jdupes -rl debian/macaulay2-common/usr/share/doc/Macaulay2
	dh_link

# remove before release
iso:
	genisoimage -R -o m2.iso ~/pbuilder/sid_result/mac*$(REF)*.deb
